body {border:10px solid red !important}
.mvw-type-blocks .mvw-item {
    display: inline-block;
    vertical-align: top;
    margin-bottom: 1em;
    margin-right: 1em;
}
.mvw-type-blocks .mvw-item-title {
    cursor: move;
}

.mvw-type-blocks .mvw-item {
    margin: .5em 0;
}
.mvw-type-blocks.ui-sortable .mvw-item {
    cursor: move;
}
.mvw-type-blocks .mvw-item .mvw-item-title {
    margin: .25em;
    padding: .25em .5em;
}
.mvw-type-blocks .mvw-item .mvw-item-title .ui-icon {
    float: right;
    cursor: pointer;
    margin-top: 1px;
    border: 1px solid transparent;
    border-radius: 5px;
}
.mvw-type-blocks .mvw-item .mvw-item-title .ui-icon:hover {
    background-color: #EEE;
    border: 1px solid #999;
}
.mvw-type-blocks .mvw-item .mvw-item-content {
    padding: 0.5em;
}
.mvw-type-blocks .ui-sortable-placeholder {
    border: 1px dashed black;
    visibility: visible !important;
    background: #F5F5F5;
}
.mvw-type-blocks .ui-sortable-placeholder * {
    visibility: hidden;
}
